.image6
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    
    position: absolute;
    background-image: url("docu\ .jpg");
    background-repeat: no-repeat;
    width: 1071px;
    height: 709px;
    left: 650px;
    top: 200px;
}
h2{
    position: absolute;
width: 156px;
height: 28px;
left: 600px;
top: 400px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 28px;
/* identical to box height, or 56% */

letter-spacing: 0.2px;

color: #FFFFFF;
}
.dropdown1
{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
gap: 10px;

position: absolute;
width: 350px;
height: 65px;
left: 580px;
top: 530px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 10px;
}