h3
{
  width: 458px;
height: 32px;
margin-left: 600px;
margin-top: 100px;
/* h3 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;
letter-spacing: 0.1px;

color: #8E8E8E;
}
body
{
    background-image:url(./VillainousTornBufeo-max-1mb.gif);
      background-repeat: no-repeat;
      background-size: 100%;
      
}
.image
{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
background-image: url("singup.png");
background-repeat: no-repeat;
width: 1071px;
height: 709px;
left: calc(50% - 1071px/2 + 0.5px);
top: 196px;
}
.signup
{
    margin-left: 350px;
    margin-top: 100px;
}
.agree
{
    margin-top: 30px;
    float: left;

}
.agreement
{
    color: #FFFFFF;
}
.button3
{
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px 40px;
gap: 10px;
margin-top: 10px;
margin-left: 80px;
width: 510px;
height: 58px;

background: #0B1820;
border-radius: 50px;

/* Inside auto layout */

flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}
.button4
{
    margin-left: 1200px;
}